html, body {  
    height: 100%;  
    margin: 0; /* Remove default margin */  
    display: flex;  
    justify-content: center;  
    align-items: center;  
    border: 2px solid;  
    border-radius: 3%;  
}  

.container {  
    display: flex;            /* Enable Flexbox */  
    flex-direction: column;  /* Stack items vertically */  
    align-items: center;     /* Center items horizontally */  
    text-align: center;  
}  

h1 {  
    text-align: center;  
}  

label {  
    margin: 2px 3px;  
    margin-left: 10px;  
}  

input {  
    margin-bottom: 8px;  
    margin-right: 10px;  
}  

button[type="submit"] {  
    margin-bottom: 10px;  
    width: 100px; /* Set button width */  
}  

button[type="button"] {  
    margin-bottom: 10px;  
}

.fa{
    padding: 20px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover
{
    opacity: 0.7;
}

.fa-facebook
{
    background: #3B5998;
    color: white;
}

.fa-twitter
{
    background: #55ACEE;
    color: white;
}

.fa-google
{
    background: #d42038;
    color: white;
}

.fa-linkedin
{
    background: #10479a;
    color: white;
}