body{
    background-color: blanchedalmond;
}

.subscribe{
    background-color: rgb(200, 0, 0);
    color: white;
    border: none;
    height: 40px;
    text-align: center;
    width: 100px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 4px;
}

.subscribe:hover
{
    background-color: brown;
    color: white;
    cursor: pointer;
}

.join-button
{
    background-color: transparent;
    border-color: rgb(101, 90, 248);
    border-style: solid;
    border-width: 1px;
    color: blue;
    height: 35px;
    width: 60px;
    border-radius: 2px;
    cursor: pointer;
}

.join-button:hover
{
    background-color: rgb(40, 7, 92);
    color: white;
    cursor: pointer;
}

.tweet-button
{
    background-color: #3e30fd;
    border-color: rgb(101, 90, 248);
    border-style: solid;
    border-width: 1px;
    color: white;
    height: 35px;
    width: 60px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
}

.tweet-button:hover
{
    background-color: rgb(40, 7, 92);
    color: white;
    cursor: pointer;
}